Flask==3.0.1
Flask-SQLAlchemy==3.1.1
mysql-connector-python==8.3.0
Flask-CORS
Flask-JWT-Extended
mysql-connector-python
requests
Flask-Migrate
gunicorn
tensorflow
pandas
numpy==1.23.5
joblib==1.2.0
psycopg2-binary
scikit-learn==1.2.2


flasgger

